<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0"
	metadata-complete="false">
  <display-name>Kids</display-name>
  
  <!-- global controller -->
  <servlet>
  	<servlet-name>controller</servlet-name>
  	<servlet-class>com.neal.mvc.servlet.ActionServlet</servlet-class>
  	<init-param>
  		<description>packages</description>
  		<param-name>action-packages</param-name>
  		<!-- multiple packages split by "," -->
  		<param-value>com.neal.kids.action</param-value>
  	</init-param>
  	<init-param>
  		<param-name>initial_actions</param-name>
  		<!-- multiple class split by "," -->
  		<param-value>user</param-value>
  	</init-param>
  </servlet>
  
  <servlet>
        <servlet-name>customerVelocityServlet</servlet-name>
        <servlet-class>com.velocity.servlet.CustomerVelocityServlet</servlet-class>
         <!-- 加载自定义的velocity.propeties  -->
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/classes/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerVelocityServlet</servlet-name>
        <url-pattern>/customerVelocityServlet</url-pattern>
    </servlet-mapping>
  
  <!-- global filter -->
  <filter>
  	<filter-name>filter</filter-name>
  	<filter-class>com.neal.mvc.filter.URIFilter</filter-class>
  	<init-param>
  		<description>filter</description>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <servlet-mapping>
  	<servlet-name>controller</servlet-name>
  	<url-pattern>/action/*</url-pattern>
  </servlet-mapping>
  <filter-mapping>
  	<filter-name>filter</filter-name>
  	<url-pattern>/action/*</url-pattern>
  </filter-mapping>
</web-app>
